
//GRID HELPER

@mixin position($position: static, $t: null, $l: null, $r: null, $b: null){
  $top   : $t;
  $left  : $l;
  $right : $r;
  $bottom: $b;

  @if     ($position == a       ) {position: absolute}
  @else if($position == absolute) {position: absolute}
  @else if($position == s       ) {position: sticky  }
  @else if($position == sticky  ) {position: sticky  }
  @else if($position == r       ) {position: relative}
  @else if($position == relative) {position: relative}
  @else if($position == f       ) {position: fixed   }
  @else if($position == fixed   ) {position: fixed   }
  @else                           {position: static  }

  @if $top    != null {top:    $top    };
  @if $left   != null {left:   $left   };
  @if $right  != null {right:  $right  };
  @if $bottom != null {bottom: $bottom };
}

@mixin size($w: null, $h: null){
  $width:  $w;
  $height: $h;

  @if $width   != null {width:  $width};
  @if $height  != null {height: $height};
}

//TRANSITION HELPER
@mixin t($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  -ms-transition:     $transition;
  transition:         $transition;
}

@mixin border($color){
  border: 1px solid $color;
}